.cari{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

.cari input[type=date]{
    margin-left: 10px;
}

.total{
    font-size: 30px;
    font-weight: bold;
}

.table{
    overflow: visible;
}

